@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    scrollbar-width: none;
    -ms-overflow-style: none;
  }

  *::-webkit-scrollbar {
    display: none;
  }

  :root {
    --background: 224 28% 5%;
    --foreground: 0 0% 100%;
    --primary: 239 84% 67%;
    --surface: 224 28% 5%;
    --border-ui: rgba(255, 255, 255, 0.04);
    --radius: 24px;
  }

  body {
    background-color: #0A0C10;
    background-image: none !important;
    color: white;
    font-family: 'Inter', sans-serif;
    -webkit-font-smoothing: antialiased;
  }

  #root {
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
    min-height: 100vh;
  }
}

@layer utilities {
  .custom-scrollbar::-webkit-scrollbar { width: 4px; }
  .custom-scrollbar::-webkit-scrollbar-track { background: transparent; }
  .custom-scrollbar::-webkit-scrollbar-thumb { background: rgba(255, 255, 255, 0.1); border-radius: 10px; }
  .custom-scrollbar::-webkit-scrollbar-thumb:hover { background: rgba(255, 255, 255, 0.2); }
}