@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    scrollbar-width: none;
    -ms-overflow-style: none;
  }

  *::-webkit-scrollbar {
    display: none;
  }

  :root {
    --background: 0 0% 98%; /* Quase branco */
    --foreground: 0 0% 3%;   /* Quase preto */
    --primary: 199 89% 48%;  /* Azul um pouco mais saturado para visibilidade */
    --surface: 0 0% 100%;
    --border-ui: rgba(0, 0, 0, 0.08);
    --radius: 24px;
  }

  body {
    background-color: #FAFAFA;
    color: #080808;
    font-family: 'Inter', sans-serif;
    -webkit-font-smoothing: antialiased;
  }

  .font-serif {
    font-family: 'Newsreader', serif;
  }
}

@layer utilities {
  .custom-scrollbar::-webkit-scrollbar { width: 4px; }
  .custom-scrollbar::-webkit-scrollbar-track { background: transparent; }
  .custom-scrollbar::-webkit-scrollbar-thumb { background: rgba(0, 0, 0, 0.1); border-radius: 10px; }
  .custom-scrollbar::-webkit-scrollbar-thumb:hover { background: rgba(0, 0, 0, 0.2); }
}