@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@300;400;600;700;800&family=Rajdhani:wght@500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #111b21;
    --foreground: #e5e7eb;
    
    --card: #202f36;
    --card-foreground: #e5e7eb;
 
    --popover: #202f36;
    --popover-foreground: #e5e7eb;
 
    --primary: #22d3ee;
    --primary-foreground: #111b21;
 
    --secondary: #37464f;
    --secondary-foreground: #e5e7eb;
 
    --muted: #37464f;
    --muted-foreground: #9ca3af;
 
    --accent: #202f36;
    --accent-foreground: #e5e7eb;
 
    --destructive: #ff4b4b;
    --destructive-foreground: #ffffff;

    --border: #37464f;
    --input: #131f24;
    --ring: #22d3ee;
 
    --radius: 1.5rem;
  }
 
  body {
    background-color: #111b21;
    background-image: none; /* Removed gradients */
    @apply text-foreground antialiased;
    font-family: 'Exo 2', sans-serif;
    font-weight: 600;
  }
}